#result {
    background-color: lightblue;
    padding: 10px;
    border: 1px solid blue;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: black;
  }
  
  .degree-card {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .degree-label {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
    color: #333;
  }
  
  .degree-data {
    font-size: 16px;
    margin-bottom: 10px;
    color: #555;
  }
  
  .degree-type {
    color: #888;
    font-style: italic;
  }
  
  .degree-year {
    color: #888;
    font-size: 14px;
  }
  
  .degree-card:hover {
    background-color: skyblue;
    border-color: orange;
  }

  /* Add your button style  */
  #fetchButton {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
}

/* Add h1 style  */
h1 {
    font-size: 24px;
    color: navy;
    margin-bottom: 20px;
    text-align: center;
}
  